<div class="row">
  <div class="col-lg-8 col-lg-offset-2">


    <h2>{{vm.title}}</h2>

    <table class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Title</th>
        <th>Time</th>
        <th>Price per Second</th>
        <th>Price for all Time</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="v in vm.toggles">
        <td><input type="text" ng-model="v.title" ng-disabled="v.timerRunning"/></td>
        <td>{{v.time}}</td>
        <td><input type="number" ng-model="v.pricePerSeconds" ng-disabled="v.timerRunning"/></td>
        <td>{{v.priceForAllTime | currency:"$"}}</td>
        <td>
          <a ng-click="vm.timerStart(v)" ng-hide="v.timerRunning" class="btn btn-default btn-xs">
            <i class="mdi-av-play-arrow"></i>
          </a>
          <a ng-click="vm.timerStop(v)" ng-hide="!v.timerRunning" class="btn btn-default btn-xs">
            <i class="mdi-av-stop"></i>
          </a>
          <a ng-click="vm.deleteToggle(v)" class="btn btn-default btn-xs">
            <i class="mdi-action-highlight-remove"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>


    <form name="addToggle" ng-submit="vm.addToggle()">
      <input class="form-control" type="text" ng-model="vm.toggle.title"/>
      <input class="form-control" type="number" ng-model="vm.toggle.pricePerSeconds"/>
      <button class="btn btn-primary">ADD TOGGLE</button>
    </form>



  </div>
</div>
